/* Place your custom SCSS in HUGO_SITE_FOLDER/assets/scss/custom.scss */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--card-background);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.8s ease-in-out;
    will-change: transform;

    .preloader-content {
        font-size: 3rem;
        font-weight: bold;
        color: var(--body-text-color);
        font-family: var(--base-font-family);
    }

    &.loaded {
        transform: translateY(-100%);
    }
}
